<div class="jumbotron">
	<h1>A small idea never be a small but it can have a big acchievement!!</h1>
	<h2>A&V Studio</h2>
	<p class="into" align="center">
	<%= link_to "Contact Us", '', class:"btn btn-lg btn-success" %>
 	</p>
 	
</div>
<div class="well"">
				  <h1> Some works of us </h1>
				  </div>
 <div class="row">
			<div class="col-sm-4"><img src="images/roll.jpg" class="img-responsive">
		<div class="caption" style="font-family: serif; color: indigo; font-size:24px">Need a <strong>poster</strong> for your event!!!</div></div>
		<div class="col-sm-4"><img src="images/2.jpg" class="img-responsive">
		<div class="caption" style="font-family: serif; color: indigo; font-size:24px">Need a <strong>poster</strong> for your event!!!</div></div>
	<div class="col-sm-4" ><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnirminite17%2Fvideos%2Fvb.1725720401074326%2F1737809886532044%2F%3Ftype%3D3&show_text=0&width=500" width="400" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
	<div class="caption" style="font-family: serif; color: indigo; font-size:24px; margin-top:-60px">Want a  <strong>video</strong> for your social advertising!!!</div></div>
	</div>